/*Settings colors*/
$red : #c72b55;
$red-overlay :rgba(199, 43, 85, 0.83);;
$purple : #713acd;
$white: #FFFFFF;
$gray-dark : #2b2b2b;
$gray-soft : #B7B7B7;
$gray-light: #f7f7f7;


/*Text aligment*/
@mixin text-alignment($text-align){
  text-align: $text-align;
}
@mixin transform-txt($text-transform){
  text-transform: $text-transform;
}
/*Position*/
@mixin positioned-in($position){
  position: $position;
}
/*Height and width*/

@mixin height($height){
  height: $height;
}
@mixin min-height($min-height){
  min-height: $min-height;
}
@mixin width($width){
  width: $width;
}

/*Borders*/
@mixin border-radius($radius) {
   border-radius: $radius;
}
@mixin border-style-width($border){
   border : $border;
}


/*Containers*/
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (max-width: 1200px){
  .container {
    width: 1140px;
    max-width: 100%;
  }
}
@media screen and (min-width: 992px){
  .container {
    width: 960px;
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px){
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 992px){
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
/*Grid*/

$columns : 12;
$column-width : 100%/$columns;
$breakpoints : (xs : 0, sm : 768px, md : 992px, lg : 1200px );
[class*="col-"] {
  float: left;
  padding: 0 0;
}
@function column-width($column){
  @return $column-width*$column;
}
@mixin column($media, $min-width){
  @media (min-width:$min-width){
    @for $i from 1 through $columns {
      .col-#{$media}-#{$i} {
        width: column-width($i);
      }
    }
  }
}
@each $name, $width in $breakpoints {
  @include column($name, $width);
}
.row {
  margin: 0 auto;
  &::before {
    content: '';
    clear: both;
	  display:table;
  }
}
/*Paddings and margins*/

@mixin padding-height($top, $bottom:0){
  padding-top: $top;
  padding-bottom: $bottom;
}
@mixin padding-width($left, $right:0){
  padding-left: $left;
  padding-right: $right;
}
@mixin margin-height($top, $bottom:0){
  margin-top: $top;
  margin-bottom: $bottom;
}
@mixin margin-width($left, $right:0){
  margin-left: $left;
  margin-right: $right;
}
/*Flex*/

@mixin flex-container{
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@mixin flex-start { -webkit-align-self: flex-start; align-self: flex-start; }
@mixin flex-end { -webkit-align-self: flex-end; align-self: flex-end; }
@mixin center { -webkit-align-self: center; align-self: center; }
@mixin baseline { -webkit-align-self: baseline; align-self: baseline; }
@mixin stretch { -webkit-align-self: stretch; align-self: stretch; }
/*Background*/
@mixin background-settings{
  background-image:  url(../img/group.jpg);
  background-position: center;
  background-size: cover;
}
@mixin background-color($background-color){
  background-color: $background-color;
}
/*General Styles*/
/*Backgrounds*/
.bg-gray-light {
  background-color: $gray-light;
}
.bg-red-light{
  background-color: $red;
}
/**/
html, body{
  border:0;
  margin:0;
  padding:0;
}
html {
  min-height: 100%;
}
body {
  min-height: 100%;
}
h1,h2,h3,h4,h5,h6{font-family: 'Fjalla One', sans-serif;};
p,span,input,a,label,.text-profile, th, td, placeholder{font-family: 'Montserrat', sans-serif};

header{
  h1,h2,h3,h4,h5,h6{
    @include margin-height($top:0, $bottom:0);
    @include transform-txt(uppercase);
  }
  h1,h4{
    font-size:2.5rem ;
  }
  h2{
    font-size: 18rem;
  }
  h3{
    font-size: 3.5rem;
  }
  @include background-settings;
  @include height(740px);
}
.hero-styles{
  @include flex-container;
  color :$white;
  background-color: $red-overlay;
  @include width(100%);
  @include height(740px);
  .content-hero{
    @include center;
    @include text-alignment(center);
    .btn-findout{
      @include padding-height($top:12px, $bottom:12px);
      @include padding-width($left:26px, $right:26px);
      @include border-radius(3px);
      background-color: $purple;
      color: $white;
      text-decoration: none;
    }
  }
}

.tag {
  color : $gray-dark;
  font-size: 0.7rem;
  font-weight: 700;
  @include transform-txt(uppercase);
  @include padding-height($top:3px, $bottom:3px);
  @include padding-width($left:3px, $right:3px);
  @include border-style-width(2px solid $gray-dark);
  @include margin-width($left:0, $right:8px);
  &:hover{
    color:$white;
    background-color: $red;
    transition-duration: 1.2;
    @include border-style-width(2px solid $red);
  }
}
.img-profile > img{
  @include width(100%);
}
.text-profile {
  font-size: 0.7rem;
}
.no-margin-bottom{
  @include margin-height($top:40px,$bottom:2px);
}
.filter-section{
  @include min-height(900px);
  .content-first-filter-section{
    @include padding-width($left:15px, $right:15px);
  }
  h1,h2,h3,h4,h5{
    @include margin-height($top:0, $bottom:0);
    @include transform-txt(uppercase);
  }
  h5{
    @include padding-height($top:20px, $bottom:12px);
    display: inline-block;
    font-size: 1.2rem;
    color:$purple;
  }
  h6{
    color :$purple;
    font-size: 18px;
    @include padding-width($left:5px, $right:0);
  }
  span.tag-fill{
    @include padding-height($top:8px, $bottom:8px);
    @include padding-width($left:15px, $right:15px);
    @include transform-txt(uppercase);
    @include background-color($red);
    font-weight: 700;
    font-size: 0.8rem;
    color: $white;
  }
  .container{
    .row{
        @include padding-height($top:40px,$bottom:40px);
      .col-md-7{
        .content-tables-data{
          @include padding-width($left:15px, $right:15px);
          .col-md-12{
            form{
              input{
                @include border-style-width(none);
                @include padding-height($top:5px,$bottom:5px);
                @include padding-width($left:7px, $right:0);
                &:focus{
                  outline:none;
                }
              }
            }
          }
        }
      }
      .col-md-12{
        table{
            border-spacing: 0;
            border-collapse: separate;
            @include padding-width($left:15px, $right:15px);
          thead{
            @include text-alignment(left);
            tr{
              th{
                border-bottom: 2px solid $gray-soft;
              }
            }
          }
          tbody{
            @include text-alignment(left);
            tr{
              @include width(100%);
              td:first-child{
                border-bottom: 2px solid $gray-soft;
                color: $gray-dark;
                font-weight: 500;
                font-size: 0.9rem;
                @include width(90%);
                @include padding-width($left:5px, $right:0);
                @include padding-height($top:7px, $bottom:7px);
              }
              td:nth-child(2){
                @include width(10%);
                color: $gray-soft;
                font-weight: 500;
                @include text-alignment(right);
                border-bottom: 2px solid $gray-soft;
                @include padding-width($left:0, $right:5px);
              }
            }
          }
        }
      }
    }
  }
}
.content-tables-data{
  .col-md-4{
    table{
        border-spacing: 0;
        border-collapse: separate;
        @include padding-width($left:0px, $right:15px);
      thead{
        @include text-alignment(left);
        tr{
          th{
            border-bottom: 2px solid $gray-soft;
          }
        }
      }
      tbody{
        @include text-alignment(left);
        tr{
          @include width(100%);
          td:first-child{
            border-bottom: 2px solid $gray-soft;
            color: $gray-dark;
            font-weight: 500;
            font-size: 0.9rem;
            @include width(90%);
            @include padding-width($left:5px, $right:0);
            @include padding-height($top:7px, $bottom:7px);
          }
          td:nth-child(2){
            @include width(10%);
            color: $gray-soft;
            font-weight: 500;
            @include text-alignment(right);
            border-bottom: 2px solid $gray-soft;
            @include padding-width($left:0, $right:5px);
          }
        }
      }
    }
  }
}
.filter-middle{
    @include height(700px);
  .container{
    .row{
        @include padding-height($top:40px,$bottom:40px);
      .col-md-12{
        .january{
            @include padding-width($left:15px, $right:15px);
          img{
            width:1.5%;
            float:left;
          }
        }
      }
    }
  }
}
.grid-images{
  .container{
    .row{
        @include margin-height($top:40px,$bottom:40px);
      .col-md-12{
        @include padding-width($left:15px, $right:15px);
      }
      .col-md-3{
        .content-profile{
          @include padding-width($left:15px, $right:15px);
          @include margin-height($top:0,$bottom:40px);
        }
      }
    }
  }
}
